<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355646975295-s40vqfqjr9olbj7898797rg1jqjkuegs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355646975295-s40vqfqjr9olbj7898797rg1jqjkuegs</string>
	<key>API_KEY</key>
	<string>AIzaSyC_qhTv9F-BUw2W3tteg-4_M8aexo16G-4</string>
	<key>GCM_SENDER_ID</key>
	<string>355646975295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.sjsu.lee.daniel.SJSUSRAC</string>
	<key>PROJECT_ID</key>
	<string>sjsusrac</string>
	<key>STORAGE_BUCKET</key>
	<string>sjsusrac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355646975295:ios:e42fc7cafaaa14dd82378a</string>
	<key>DATABASE_URL</key>
	<string>https://sjsusrac.firebaseio.com</string>
</dict>
</plist>